# **ASSIGNMENT 4**

**Question 1**

Pandas can be imported using import as shown below-

In [52]:
import pandas as pd
print(pd.__version__)

1.1.4

**Question 2**

In [43]:
import numpy as np

arr=np.array([[1,2,3],[4,5,6]])  #numpy array

seri=pd.Series([arr],index=['numbers']) #creating series from numpy array
print(seri)

numbers    [[1, 2, 3], [4, 5, 6]]
dtype: object

**Question 3**

In [62]:
city=pd.Series( {1:'Chennai' , 2:'Pune' , 3:'Mumbai',4:'Bangalore',5:'Hyderabad'} )
city

1      Chennai
2         Pune
3       Mumbai
4    Bangalore
5    Hyderabad
dtype: object

In [64]:
df=pd.DataFrame(city,columns=['Cities'])
df['index']=df.index
df

      Cities  index
1    Chennai      1
2       Pune      2
3     Mumbai      3
4  Bangalore      4
5  Hyderabad      5

**Question 4**

In [8]:
import seaborn as sns

In [13]:
sns.get_dataset_names()  #listing all dataset names

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [44]:
mpg=sns.load_dataset("mpg") #loading mpg dataset
print(a)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...     usa                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [45]:
mpg.head() # printing first 5 data

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

**Question 5**

In [46]:
df= pd.DataFrame(mpg,columns=["origin"])
print(df)
print("Country origin",mpg['origin'].unique())  # origin of cars from different countries

     origin
0       usa
1       usa
2       usa
3       usa
4       usa
..      ...
393     usa
394  europe
395     usa
396     usa
397     usa

[398 rows x 1 columns]
Country origin ['usa' 'japan' 'europe']

**Question  6**

In [47]:
mpg['origin']="usa"  #cars belonging to USA
print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...     usa                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]